[Unit]
Description=srv1-api Service
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker-service-stop.sh srv1-api.yml
ExecStart=/usr/bin/docker-service-start.sh srv1-api.yml srv1-api.stratolog
ExecStop=/usr/bin/docker-service-stop.sh srv1-api.yml
PrivateTmp=true

[Install]
WantedBy=multi-user.target
